<launch>
  <node 
    pkg="radar_to_csv"          
    type="radar_to_csv_node"    
    name="radar_to_csv_node"    
    output="screen"             
  >
    <param name="radar_topic" value="/wf/radar_objects_3" />  <!-- 雷达话题 -->
    <param name="bag_name" value="111" type="str" />          <!-- bag文件名 -->
  </node>
</launch>

<!-- 
pkg: 包名称 (radar_to_csv)
type: 指定可执行文件名称,与add_executable一致 (radar_to_csv_node) 
name: 节点在ROS中的名称
-->